section#contact-one {
	background-color: var(--accent-color);
	color: hsl(0, 0%, 95%);
	padding: 8rem 2rem;
	display: grid;
	gap: 2rem;
	justify-content: center;
	font-size: min(2rem, 4vw);
	text-align: center;
	overflow: hidden;
}

section#contact-one p {
	position: relative;
	opacity: 0;
	letter-spacing: 0.4rem;
	word-wrap: normal;
	transform: translateX(-50%) scale(1);
	transition:
		transform 1s ease-in-out,
		opacity 1s ease-in-out 0.25s;
	&:first-child {
		transform: translateX(-50%) scale(1);
	}
	&:last-child {
		transition-delay: 0.25s;
		transform: translateX(50%) scale(1);
	}
}

section#contact-one.activate-animation p {
	opacity: 1;
	transform: translateX(0%) scale(1);
}
