header .wrapper {
	display: flex;
	padding: 2rem 0rem;
	align-items: center;
	justify-content: space-between;
	color: var(--text-color);
}

header img {
	width: 6vw;
	max-width: 4rem;
	min-width: 2rem;
	aspect-ratio: 1;
	object-position: center;
	object-fit: cover;
}

header #theme-switch {
	display: flex;
	align-items: center;
	gap: 0.7vw;
	& > * {
		flex-shrink: 0;
	}
	svg {
		min-height: 0.6rem;
		height: 1.5vw;
		max-height: 1.5rem;
	}
}

header input {
	display: none;
}

header label {
	display: inline-block;
	border-radius: 50px;
	width: 1.5rem;
	height: 2vw;
	min-width: 3vw;
	min-height: 1rem;
	max-width: 1.5rem;
	max-width: 2rem;
	background-color: var(--accent-color);
	position: relative;
	padding: 0.3rem;
	overflow: hidden;
}

header label > div {
	width: 1.6vw;
	min-width: 0.8rem;
	max-width: 1.6rem;
	aspect-ratio: 1;
	background-color: hsla(0, 0%, 95%, 1);
	position: absolute;
	top: 50%;
	left: 0.25vw;
	transform: translateY(-50%) scale(1);
	border-radius: 50%;
	transition: all 0.2s;
	box-shadow:
		inset -2px -2px 5px hsla(0, 0%, 0%, 0.25),
		inset 4px 4px 2px hsla(0, 0%, 100%, 1),
		2px 2px 5px hsla(0, 0%, 0%, 0.25);
}

header input:checked ~ label > div {
	left: calc(100% - max(1rem, 1.9vw));
}

@keyframes moveX {
	from {
		transform: translateY(-50%) scale(1);
	}
	50% {
		transform: translateY(-50%) scale(0.9);
	}
	to {
		transform: translateY(-50%) scale(1);
	}
}
